.pageHeader {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: seagreen;
    text-shadow: 2px 3px aquamarine;
}

.list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    /* border: dotted 1px; */
    flex-basis: 32%;
    padding: 1px;
}

.shop a {
    background-image: linear-gradient(to top, aquamarine, green);
    /* background-color: hotpink; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid aquamarine; */
    /* border-radius: 5px; */
    text-shadow: 1px 0px seagreen;
}

.shop a:hover {
    background-color: green;
}

.shop div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    flex-wrap: wrap-reverse;
    background-color: aquamarine;
    align-content: center;
    text-shadow: 1px 0px seagreen;
}

.shop div.phone {
    color: black;
    background-image: linear-gradient(to top, green, aquamarine);
    text-shadow: 1px 0px seagreen;
}

article.list {
    background-color: green;
    /* background-image: linear-gradient(to right, green, aquamarine); */
}