.pageHeader {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: seagreen;
}

.list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    /* border: dotted 1px; */
    flex-basis: 32%;
    padding: 1px;
}

.shop a {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid aquamarine;
    /* border-radius: 5px; */
}

.shop a:hover {
    background-color: azure;
}

.shop div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    flex-wrap: wrap-reverse;
    background-color: aquamarine;
    align-content: center;
}

.shop div.phone {
    color: aquamarine;
    background-image: linear-gradient(to bottom right, green, white);
}